* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  /* background:  url("./img/space.png"); */

  
}

.space {
  height: 100vh;
  background: url("./img/space.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: 0;
  position: relative;
  overflow: hidden;
}

.earth {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: rotate(0deg);
}

.earth-img {
  width: 8rem;
  height: 8rem;
  backface-visibility: hidden;
}

.moon {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 43%;
  z-index: 10;
  transform: rotate(0deg);
}

.moon-img {
  width: 4rem;
  height: 4rem;
  backface-visibility: hidden;
}

.saturn{
  display: inline-block;
  position: absolute;
  top: 12%;
  right: -20%;
  transform: rotate(-10deg);

}

.saturn-img{
  width: 80rem;
  height: 45rem;
  backface-visibility: hidden;
}

.ufo {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.ufo-img {
  width: 18.5rem;
  height: 15.5rem;
  filter: saturate(0.8);
}


