* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
}

.space {
  height: 100vh;
  background: url("./img/space.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: 0;
  position: relative;
  overflow: hidden;
  z-index: -1000;
}

.surface{
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
}

.surface-img{
  width: 120rem;
  height: 90rem;
  backface-visibility: hidden;
}

.earth {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: rotate(0deg);
}

.earth-img {
  width: 8rem;
  height: 8rem;
  backface-visibility: hidden;
}

.moon {
  display: inline-block;
  position: absolute;
  top: 36%;
  left: 43%;
  z-index: 10;
  transform: rotate(0deg);
}

.moon-img {
  width: 4rem;
  height: 4rem;
  backface-visibility: hidden;
}

.asteroid{
  display: inline-block;
  position: absolute;
  top: 20%;
  right: -15%;

}

.asteroid-img{
  width: 60rem;
  height: 55rem;
  backface-visibility: hidden;
  filter: saturate(0.8);

}

.comet{
  display: inline-block;
  position: absolute;
  top: 10%;
  right: 30%;
  z-index: -1;
}

.comet-img{
  width: 18.5rem;
  height: 15.5rem;
  backface-visibility: hidden;
  filter: saturate(0.75);}

.ufo {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.ufo-img {
  width: 18.5rem;
  height: 15.5rem;
  filter: saturate(0.8);
}


