* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
}

.animation {
  height: 100vh;
  background: url("./img/space.png");
  background-size: 100%;
  background-repeat: repeat-y;
  /* background-position-y: 20rem; */
  position: relative;
  overflow: hidden;
}

.rocket {
  display: inline-block;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
}

.rocket-img {
  width: 24rem;
  height: 24rem;
  filter: saturate(0.6);
}
